@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BANCA VIRTUAL</h1>
    <p class="lead">
        La banca electrónica permite realizar todo tipo de gestiones bancarias a través de Internet de manera independiente y segura.
    </p>
    <p><a href="/Home/Registro" class="btn btn-primary btn-lg">REGISTRO  &raquo;</a>  <a href="/Home/Login" class="btn btn-primary btn-lg">INICIAR SESION &raquo;</a></p>
</div>

